@page
@model LSSDPasswordGenCore.Pages.JSONModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JSON</title>
</head>
<body>
</body>
</html>
